div, p, html, body{
	margin: 0;
	padding: 0;
}

.navbarColor{

     background-color: #4a62d6 !important;
     color: #ffffff;
}
#brand {
     color: #ffffff;
}
.navbar-default-override{
     background-color: #00afab !important;
}
.navbarColor div.container{

     background-color: #00afab !important;
     color: #ffffff;
}

#root nav div.container{

     background-color: #00afab !important;
     color: #ffffff;

}

#makeWhite{

     color: white;

}