body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.thumb{
	display: block;
    width: 20px;
    height: 20px;
    padding: 41px;
    text-shadow: 0 0 2px rgba(0,0,0,.6);
    text-align:center;
}
